<h1>Réinitialiser mon mot de passe</h1>

  <label for="email">Veuillez entrer votre email pour la reinitialisation de votre mot de passe</label>
  <input type="email" class="form-control" id="email" name="email"
         pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}"
         placeholder="name@gmail.com" required [(ngModel)]="courriel"
         #email="ngModel">
  <div *ngIf="email.invalid &&  email.touched"
       class="alert alert-danger mt-2">
    Veuillez saisir un email valide !
  </div>
<button [disabled]="email.invalid"
        class="btn btn-primary mx-auto" (click)="reinitialiser()">Envoyer</button>
