<div class="card mx-auto text-center mt-5" style="width: 50rem;">
  <img class="rounded-circle mx-auto mt-3" src="{{candidat.image}}" alt="" height="200">
  <div class="card-body">
    <h5 class="card-title">{{candidat.nom}} {{candidat.prenom}}</h5><br>
    <p class="card-text">{{candidat.description}}</p><br>
    <p><b>Date de naissance</b> : {{candidat.naissance}}</p>
    <p><b>Diplome</b> : {{candidat.diplome}}</p>
    <p><b>Niveau d'étude</b> : {{niveaux[candidat.niveau]}}</p>
    <p><b>Expérience</b> : {{experiences[candidat.experience]}}</p>
    <p><b>Email</b> : {{candidat.email}} </p>
    <p><b>Wilaya de résidence</b> : {{candidat.wilaya}}</p>
    <p><b>Numero de téléphone</b> : {{candidat.telephone}}</p>
    <br><br>
    <button type="button" class="btn btn-outline-dark">Modifier mon profil</button>&nbsp;
    <button type="button" class="btn btn-outline-danger">Supprimer mon profil</button>
    <button type="button" class="btn btn-outline-danger"(click)="seDeconnecter()">Se déconnecter</button>
  </div>
</div>

