<h1> Modifier mon mot de passe</h1>

<div class="form-group col-md-6">
  <label for="ancienPassword">Ancien mot de passe</label>
  <input type="password" class="form-control" id="ancienPassword"
         name="ancienPassword"
         minlength="6" maxlength="20" required
         [(ngModel)]="oldPassword" #ancienpassword="ngModel">
  <div
    *ngIf="oldPassword != motDePasse  &&  ancienpassword.touched"
    class="alert alert-danger mt-2">
    L'ancien mo de passe est incorrecte !
  </div>
</div>

<div class="form-group col-md-6">
  <label for="password">Nouveau mot de passe</label>
  <input type="password" class="form-control" id="password"
         name="password"
         minlength="6" maxlength="20" required
         [(ngModel)]="newPassword" #password="ngModel">
  <div *ngIf="password.invalid &&  password.touched"
       class="alert alert-danger mt-2">
    veuillez saisir le nouveau mot de passe !
  </div>
</div>

<div class="form-group col-md-6">
  <label for="passwordConfirm">Confirmez le nouveau mot de passe</label>
  <input type="password" class="form-control" id="passwordConfirm"
         name="confirmPassword"
         [(ngModel)]="confirmPassword"
         #confirmpassword="ngModel">
  <div *ngIf="newPassword != confirmPassword && confirmpassword.touched"
       class="alert alert-danger mt-2">
    veuillez confirmer le nouveau mot de passe !
  </div>
</div>

<button
  [disabled]="!(oldPassword === motDePasse && newPassword === confirmPassword && password.valid )"
  class="btn btn-primary mx-auto" (click)="modifierPassword()">Modifier le mot
  de passe
</button>
