<div class="card mx-auto container" >
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">nom de l'annonce </th>
      <th scope="col">titre du poste </th>
      <th scope="col">L'entreprise</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let annonce of annonces">
      <th scope="row">{{annonce.nom}}</th>
      <td>{{annonce.poste}}</td>
      <th><a >{{annonce.entreprise}}</a></th>
      <td><button type="button" class="btn btn-primary">Détails</button></td>
      <td><button type="button" class="btn btn-success">Accepter</button></td>
      <td><button type="button" class="btn btn-danger">Refusée</button></td>
    </tr>

    </tbody>
  </table>
</div>
