<div class="card mx-auto" style="width: 80rem">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">idAnnonce</th>
      <th scope="col">nom de l'annonce </th>
      <th scope="col">nom de l'annonceur</th>
      <th scope="col">details sur l'annonce</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td><a href="">nom de l'annonceur en lien vers son profil</a></td>
      <td><a href="">lien vers l'annonce</a></td>
      <td><button type="button" class="btn btn-success">Accepter</button></td>
      <td><button type="button" class="btn btn-danger">Refusée</button></td>
    </tr>

    </tbody>
  </table>
</div>
