<div class="card mx-auto" style="width: 80rem">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">nom de l'annonce </th>
      <th scope="col">titre du poste </th>
      <th scope="col">L'entreprise</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">nom annonce</th>
      <td>titre poste</td>
      <th><a href="">nom entreprise</a></th>
      <td><button type="button" class="btn btn-primary">Détails</button></td>
      <td><button type="button" class="btn btn-success">Accepter</button></td>
      <td><button type="button" class="btn btn-danger">Refusée</button></td>
    </tr>

    </tbody>
  </table>
</div>
