<form class="" action="" method="post">
  <div class="card" style="width: 18rem;">

    <img src="bg.jpeg" class="card-img-top" alt="...">
    <div class="card-body">


      <div class="form-group">
        <label for="exampleFormControlInput1">Nom de l'annonce</label>
        <input type="email" class="form-control" id="exampleFormControlInput1"  required>
      </div>

      <div class="form-group ">
        <label for="selectWilaya">Wilaya</label>
        <select class="form-control" name="wilaya" id="selectWilaya" required>
          <option value="tous">tous</option>
          <option value="Alger">Alger</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
          <option value="adrar">adrar</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
          <option value="sidi belabass">sidi belabass</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
          <option value="sidi belabass">sidi belabass</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
          <option value="sidi belabass">sidi belabass</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
          <option value="sidi belabass">sidi belabass</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
          <option value="sidi belabass">sidi belabass</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
          <option value="sidi belabass">sidi belabass</option>
          <option value="tlemcen">tlemcen</option>
          <option value="oran">oran</option>
        </select>
      </div>
      <div class="form-group ">
        <label for="selectDomaine">Domaine</label>
        <select class="form-control" name="domaine" id="selectDomaine" required>
          <option value="informatique">informatique</option>
          <option value="médical">médical</option>
          <option value="gestion">gestion</option>
          <option value="biologie">biologie</option>
          <option value="electronique">electronique</option>
          <option value="mecanique">mecanique</option>
          <option value="chimie">chimie</option>
        </select>
      </div>

      <div class="form-group ">
        <label for="selectExperience">Experience</label>
        <select class="form-control" name="experience" id="selectExperience" required>
          <option value="pasdexp">pas d'experience requise</option>
          <option value="1ans">1ans</option>
          <option value="1ans">2ans</option>
          <option value="1ans">3ans ou plus</option>
        </select>
      </div>

      <div class="form-group ">
        <label for="selectNiveau">Niveau</label>
        <select class="form-control" name="niveau" id="selectNiveau" required>
          <option value="bac+3">bac+3(minimum)</option>
          <option value="1ans">bac+5</option>

        </select>
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Numero de téléphone</label>
        <input type="number" class="form-control" id="exampleFormControlInput1" required>
      </div>


      <div class="form-group">
        <label for="exampleFormControlTextarea1">Description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlFile1">Ajouter une image a votre annonce</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>

      <button class="btn btn-primary" type="submit">Envoyé</button>

    </div>
  </div>
</form>
