<div class="card mx-auto mt-5 shadow p-3 mb-5 bg-white rounded "
     style="width: 50rem;">
  <div class="row">

    <div class="col ml-3 mr-3 mt-3 mb-3 ">
      <h3 style="color:#154360">{{annonce.nom}}
        <button type="button" class="btn btn-success mr-auto">Postuler</button>
      </h3>
      <br>
      <p><span style="color:#196F3D"><b>poste :</b></span> développeur web
        back-end</p>
      <p><span
        style="color:#196F3D"><b>Experience :</b></span>{{experiences[annonce.experience]}}
      </p>
      <p><span style="color:#196F3D"><b>diplome :</b></span>{{annonce.diplome}}
      </p>
      <p><span
        style="color:#196F3D"><b>Niveau :</b></span>{{niveaux[annonce.niveau]}}
      </p>
      <p>{{annonce.description}}</p>
    </div>
    <div class="col-md2 mr-3">

      <div class="" style="width: 20rem;">
        <div class=" text-center p-3 bg-light">
          <p style="color:#196F3D"><b>{{annonce.wilaya}}</b></p>
          <p style="color: #C0392B"><b>{{annonce.telephone}}</b></p>
          <p><b>{{annonce.idEntreprise}}</b></p>
        </div>

      </div>
    </div>
  </div>
</div>
