<form #annonceForm="ngForm" (ngSubmit)="creerAnnonce()">
  <div class="card mx-auto p-3 mt-5" style="width: 50rem;">
    <div class="card-body">

      <div class="form-group">
        <label for="nom">Nom de l'annonce</label>
        <input type="text" class="form-control" id="nom" name="nom" required
               [(ngModel)]="annonce.nom" #nom="ngModel"
               [disabled]="api.idAnnonce">
        <div *ngIf="nom.invalid &&  nom.touched"
             class="alert alert-danger mt-2">
          veuillez préciser le nom de l'annnonce !
        </div>
      </div>

      <div class="form-group">
        <label for="poste">Poste de l'annonce</label>
        <input type="text" class="form-control" id="poste" name="poste" required
               [(ngModel)]="annonce.poste" #poste="ngModel"
               [disabled]="api.idAnnonce">
        <div *ngIf="poste.invalid &&  poste.touched"
             class="alert alert-danger mt-2">
          veuillez préciser le poste de l'annnonce !
        </div>
      </div>

      <div class="form-group ">
        <label for="wilaya">Wilaya </label>
        <select class="form-control" name="wilaya" id="wilaya" required
                [(ngModel)]="annonce.wilaya" #wilaya="ngModel"
                [disabled]="api.idAnnonce">
          <option *ngFor="let wilaya of wilayas"
                  [value]="wilaya">{{wilaya | titlecase}}</option>
        </select>
        <div *ngIf="wilaya.invalid &&  wilaya.touched"
             class="alert alert-danger mt-2">
          veuillez saisir une wilaya !
        </div>
      </div>
      <div class="form-group ">
        <label for="selectDomaine">Diplôme</label>
        <select class="form-control" name="domaine" id="selectDomaine" required
                [(ngModel)]="annonce.diplome" #domaine="ngModel"
                [disabled]="api.idAnnonce">
          <option *ngFor="let diplome of diplomes"
                  [value]="diplome">{{diplome | titlecase}}</option>
        </select>
        <div *ngIf="domaine.invalid &&  domaine.touched"
             class="alert alert-danger mt-2">
          veuillez saisir le diplôme recherché !
        </div>
      </div>

      <div class="form-group ">
        <label for="selectExperience">Experience</label>
        <select class="form-control" name="experience" id="selectExperience"
                required [disabled]="api.idAnnonce"
                [(ngModel)]="annonce.experience" #experience="ngModel">
          <option *ngFor="let experience of experiences; let i = index"
                  [value]="i">{{experience | titlecase}}</option>
        </select>
        <div *ngIf="experience.invalid &&  experience.touched"
             class="alert alert-danger mt-2">
          veuillez saisir l'experience requise' !
        </div>
      </div>

      <div class="form-group ">
        <label for="selectNiveau">Niveau</label>
        <select class="form-control" name="niveau" id="selectNiveau" required
                [(ngModel)]="annonce.niveau" #niveau="ngModel"
                [disabled]="api.idAnnonce">
          <option *ngFor="let niveau of niveaux; let i = index"
                  [value]="i">{{niveau | titlecase}}</option>
        </select>
        <div *ngIf="niveau.invalid &&  niveau.touched"
             class="alert alert-danger mt-2">
          veuillez saisir le niveau d'étude !
        </div>
      </div>

      <div class="form-group">
        <label for="tel">Numero de téléphone</label>
        <input type="text" class="form-control" id="tel" name="telephone"
               required pattern="^0[5-7][0-9]{8}$"
               [(ngModel)]="annonce.telephone"
               #telephone="ngModel" [disabled]="api.idAnnonce">
        <div *ngIf="telephone.invalid &&  telephone.touched"
             class="alert alert-danger mt-2">
          saisissez un numéro de téléphone valide !
        </div>
      </div>


      <div class="form-group">
        <label for="description">Plus de détails sur l'annonce</label>
        <textarea class="form-control" id="description" name="description"
                  rows="3" [(ngModel)]="annonce.description"></textarea>
      </div>

      <div class="form-group text-center ">
        <input type="file" class="form-control-file " id="controleFile"
               accept="image/png, image/jpeg" (change)="uploadFile($event)">
        <img src="{{annonce.image}}" alt="photo du profile" width="200px">
        <label for="controleFile">Ajouter une image a votre annonce</label>
      </div>

      <button type="submit" *ngIf="api.idAnnonce == null"
              [disabled]="!(annonceForm.form.valid )"
              class="btn btn-primary mx-auto">Poster l'annonce
      </button>

      <button *ngIf="api.idAnnonce"
              [disabled]="!(annonceForm.form.valid )"
              class="btn btn-primary mx-auto" (click)="updateAnnonce()">Mettre à
        jour l'annonce
      </button>

    </div>
  </div>
</form>


