<div class="card mx-auto text-center mt-5" style="width: 50rem;">
  <img class="rounded-circle mx-auto mt-3"
       src="{{entreprise.image}}" alt="{{entreprise.nom}}" height="200">
  <div class="card-body">
    <h5 class="card-title">{{entreprise.nom}}</h5><br>
    <p class="card-text">{{entreprise.description}}</p><br>
    <p><b>Date de création</b> : {{entreprise.creation}}</p>
    <p><b>Domaine</b> : {{entreprise.domaine}}</p>
    <p><b>Email</b> : {{entreprise.email}}</p>
    <p><b>Adresse</b> : {{entreprise.adresse}}</p>
    <p><b>Numero de téléphone</b> : {{entreprise.telephone}}</p>
    <br><br>
    <button type="button" class="btn btn-outline-dark">Modifier mon profil
    </button>&nbsp;
    <button type="button" class="btn btn-outline-danger">Supprimer mon profil
    </button>
    <br><br>
    <button type="button" class="btn btn-info">+ajouter une annonce</button>
  </div>
</div>
