<div class="card mx-auto text-center mt-5" style="width: 50rem;">
  <img class="rounded-circle mx-auto mt-3" src="../../assets/images/condidat.jpg" alt="" width="300" height="200">
  <div class="card-body">
    <h5 class="card-title">Mega Papier</h5><br>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><br>
    <p><b>Date de création</b> : 02/10/1998</p>
    <p><b>Diplome</b> : informatique</p>
    <p><b>Email</b> : hakimfirefox@gmail.com </p>
    <p><b>Adresse</b> : zone industrielle chetouane bloc 5</p>
    <p><b>Numero de téléphone</b> : 0665845215</p>
    <br><br>
    <button type="button" class="btn btn-outline-dark">Modifier mon profil</button>&nbsp;
    <button type="button" class="btn btn-outline-danger">Supprimer mon profil</button><br><br>
    <button type="button" class="btn btn-info">+ajouter une annonce</button>
  </div>
</div>
